<?xml version="1.0" encoding="UTF-8" ?><!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="test">
    <select id="getPersonById" parameterType="int" resultType="com.mybatis.demo1.Person">
        select id,name,sex from person where id=#{id}
    </select>

    <insert id="insertPerson" parameterType="com.mybatis.demo1.Person">
        insert into person1 values (#{id},#{name},#{sex})
    </insert>
</mapper>
